<div class="page-header">
	<h1>
		Product List
		<a ui-sref="itemCreate" class="btn btn-default">
			<span class="glyphicon glyphicon-plus"></span> 
			New Item
		</a>
	</h1>
</div>

<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>Item Info</th>
			<th class="col-sm-2"></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="item in vm.items">
			<td><b>id: </b>{{ item._id }} <br/> <b>Name: </b>{{ item.name }}<br/> <b>Short Name: </b>{{ item.short_name }}<br/> <b>Price: </b>{{ item.price }}<br/> <b>Category: </b>{{ item.categories }}<br/> <b>Subcategory: </b>{{ item.subcategory }} <br/> <b>Link: </b> {{ item.link }} <br/> <b>Description: </b> {{ item.description }} <br/> <b>Thumb: </b>{{ item.thumb }} <br/> <b>LG Image: </b>{{ item.lg_img }}</td>
			<td class="col-sm-2">
				<a ui-sref="editItem({id: item._id  })" class="btn btn-primary">Edit</a>
				<a ng-click="vm.deleteItem(item._id)" class="btn btn-danger pointer">Delete</a>
			</td>
		</tr>
	</tbody>
</table>


